
<section class="relative">
    <div class="absolute inset-0 -z-40">
        <!-- Blur Spot 1 -->
        <div class="absolute w-32 h-32 rounded-full blur-2xl top-10 left-90 animate-color-change"></div>
        <!-- Blur Spot 2 -->
        <div class="absolute w-40 h-40 rounded-full blur-3xl top-70 right-[46vh] animate-color-change"></div>
        <!-- Blur Spot 3 -->
        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-96 left-[20%] animate-color-change"></div>
        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-16 left-[50%] animate-color-change"></div>
        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-72 right-0 animate-color-change"></div>

        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-[840px] left-[20%] animate-color-change"></div>
        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-[740px] right-10 animate-color-change"></div>
        <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-[20px] left-{80%} animate-color-change"></div>
    
        <!-- <div class="absolute w-32 h-32 rounded-full blur-2xl top-80 left-[90%] animate-color-change"></div> -->
        <!-- <div class="absolute w-36 h-36 rounded-full blur-2xl top- bottom-[90%] left-80 animate-color-change"></div> -->
        <!-- <div class="absolute w-36 h-36 rounded-full blur-2xl top- bottom-[90%] left-[80%] animate-color-change"></div> -->
    
    </div>
    




<div class="grid grid-cols-3 gap-4 mt-6 mx-10"> 

   <!-- *ngIf="userDetail?.roles.includes('Driver') -->
    <div  *ngIf="authService.getUserDetail()?.roles.includes('Admin')" class="relative bg-blue-100 p-6 rounded-lg shadow-md flex justify-between items-center overflow-hidden transition-transform transform hover:scale-105 border-4 border-transparent animate-border-blur">
        <!-- Background Blur Spots -->
        <div class="absolute inset-0">
            <!-- Blur Spot 1 -->
            <div class="absolute w-32 h-32 rounded-full blur-3xl top-5 left-8 bg-blue-300 bg-opacity-50 animate-color-change"></div>
            <!-- Blur Spot 2 -->
            <div class="absolute w-40 h-40 rounded-full blur-2xl bottom-10 right-10 bg-purple-300 bg-opacity-50 animate-color-change"></div>
        </div>
    
        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-xl font-bold text-blue-700">Active Drivers</h2>
            <p class="text-2xl font-bold text-blue-600">155</p>
        </div>
        <i class="fas fa-users text-blue-700 text-3xl relative z-10"></i>
    </div>



    <div   *ngIf="authService.getUserDetail()?.roles.includes('Admin')"  class="relative /40 p-6 rounded-lg shadow-md flex justify-between items-center backdrop-blur-md transition-transform transform hover:scale-105 overflow-hidden border-2 border-transparent animate-border-blur">
        <!-- Random Colorful Blur Spots -->
        <div class="absolute inset-0">
            <!-- Blur Spot 1 -->
            <div class="absolute w-32 h-32 rounded-full blur-2xl top-10 left-10 animate-color-change"></div>
            <!-- Blur Spot 2 -->
            <div class="absolute w-40 h-40 rounded-full blur-3xl top-20 right-16 animate-color-change"></div>
            <!-- Blur Spot 3 -->
            <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-16 left-20 animate-color-change"></div>
        </div>
    
        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-xl font-bold text-green-700">Approved Drivers</h2>
            <p class="text-2xl font-bold text-green-600">246</p>
        </div>
        <i class="fas fa-check-circle text-green-700 text-3xl relative z-10"></i>
    </div>
    
    <div class="relative /40 p-6 rounded-lg shadow-md flex justify-between items-center backdrop-blur-md transition-transform transform hover:scale-105 overflow-hidden border-2 border-transparent animate-border-blur">
        <!-- Random Colorful Blur Spots -->
        <div class="absolute inset-0">
            <!-- Blur Spot 1 -->
            <div class="absolute w-32 h-32 rounded-full blur-2xl top-10 left-10 animate-color-change"></div>
            <!-- Blur Spot 2 -->
            <div class="absolute w-40 h-40 rounded-full blur-3xl top-20 right-16 animate-color-change"></div>
            <!-- Blur Spot 3 -->
            <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-16 left-20 animate-color-change"></div>
        </div>
    
        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-xl font-bold text-blue-700">Completed Rides</h2>
            <p class="text-2xl font-bold text-blue-600">{{completeRide$? completeRide$.length: "0"}}</p>
        </div>
        <i class="fas fa-check text-blue-700 text-3xl relative z-10"></i>
    </div>
    
    <div class="relative /40 p-6 rounded-lg shadow-md flex justify-between items-center backdrop-blur-md transition-transform transform hover:scale-105 overflow-hidden border-2 border-transparent animate-border-blur">
        <!-- Random Colorful Blur Spots -->
        <div class="absolute inset-0">
            <!-- Blur Spot 1 -->
            <div class="absolute w-32 h-32 rounded-full blur-2xl top-10 left-10 animate-color-change"></div>
            <!-- Blur Spot 2 -->
            <div class="absolute w-40 h-40 rounded-full blur-3xl top-20 right-16 animate-color-change"></div>
            <!-- Blur Spot 3 -->
            <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-16 left-20 animate-color-change"></div>
        </div>
    
        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-xl font-bold text-green-700">{{authService.getUserDetail()?.roles == 'Rider' ? 'Total Spending':'Total Revenue'}}  </h2>
            <p class="text-2xl font-bold text-green-600">
                ৳ {{ (totalFare$ ? (totalFare$) : 0) | number:'1.2-2'}}
              </p>             
              
        </div>
        <i class="fas fa-spinner text-green-700 text-3xl relative z-10"></i>
    </div>
    
    <div class="relative /40 p-6 rounded-lg shadow-md flex justify-between items-center backdrop-blur-md transition-transform transform hover:scale-105 overflow-hidden border-2 border-transparent animate-border-blur">
        <!-- Random Colorful Blur Spots -->
        <div class="absolute inset-0">
            <!-- Blur Spot 1 -->
            <div class="absolute w-32 h-32 rounded-full blur-2xl top-10 left-10 animate-color-change"></div>
            <!-- Blur Spot 2 -->
            <div class="absolute w-40 h-40 rounded-full blur-3xl top-20 right-16 animate-color-change"></div>
            <div class="absolute w-32 h-32 rounded-full blur-3xl top-5 left-8 bg-blue-300 bg-opacity-50 animate-color-change"></div>
            <!-- Blur Spot 3 -->
            <div class="absolute w-36 h-36 rounded-full blur-2xl bottom-16 left-20 animate-color-change"></div>
        </div>
    
        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-xl font-bold text-red-700">Cancelled Rides</h2>
            <p class="text-2xl font-bold text-red-600">{{Cancelled$ ? Cancelled$.length: "0"}}</p>
        </div>
        <i class="fas fa-ban text-red-700 text-3xl relative z-10"></i>
    </div>
</div>

<div class="mt-6 mx-10">
    <!-- <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4 w-full h-[40vh]"> -->
    <div class="flex justify-between gap-6 mt-4 w-full h-[40vh]">
      
      <!-- Ride Status Chart -->
      <div class="p-4 rounded-md shadow-lg bg-white flex flex-col items-center justify-center">
        <h2 class="text-xl font-bold text-center mb-4">Ride Status & Driver Statistics</h2>
        <canvas id="rideStatusChart" class="w-full h-[200px]"></canvas>            
      </div>
  
      <!-- Driver Statistics Doughnut Chart -->
      <div class="p-4 rounded-md shadow-lg bg-white flex flex-col items-center justify-center relative w-[42vh] h-full">
        <canvas id="driverStatsChart" class="w-[50vh] h-[200px]"></canvas>
        <div class="absolute top-[55%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center rounded-full p-4">
           
                <div>
                 <p class="text-2xl font-bold px-10">{{((completeRide$.length/(completeRide$.length+Cancelled$.length)))*100 | number:'1.2-2'}}%</p>
                 <p class="text-center text-[9px]">Completed</p>
                </div>
           
        </div>         
      </div>
  
      <!-- Monthly Revenue Chart -->
      <div class="p-4 rounded-md shadow-lg bg-white flex flex-col items-center justify-center">
        <h3 class="text-lg font-semibold text-center mb-4">{{authService.getUserDetail()?.roles == 'Rider' ? 'Monthly Spending':'Monthly Revenue'}} </h3>
        <canvas id="monthlyRevenueChart" class="w-full h-[200px]"></canvas> <!-- Set height explicitly -->
      </div>
      <div class="p-4 rounded-md shadow-lg bg-white flex flex-col items-center justify-center">
        <h2 class="text-xl font-bold text-center mb-4">Driver Ratings</h2>
        <canvas id="driverRatingChart" class="w-full h-[200px]"></canvas>
      </div>
    </div>
  </div>
  




<div *ngIf="authService.getUserDetail()?.roles.includes('Admin')" class="mt-6 mb-32 z-50 mx-10 shadow-xl ">
    <div class="flex overflow-x-auto">
        <div class="w-1/2 pr-2 ">
            <h3 class="text-lg font-bold text-center mb-4">Driver Table</h3>
            <div class="overflow-y-auto max-h-[40vh]  border border-blue-500  " style="scrollbar-width: thin;">
                <table class="min-w-full divide-y  shadow-md">
                    <thead class="sticky text-blue-700">
                        <tr>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Name</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Phone Number</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Success Rides</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Cancel Rides</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Is Active</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Picture</th>
                        </tr>
                    </thead>
                    <!-- {{allDrivers$| json}} -->
                    <tbody *ngFor="let driver of allDrivers$" class=" divide-y ">
                        <!-- {{driver| json}} -->
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{ driver.driverName}}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{ driver.phoneNumber }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{ driver.distance || 10 }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{ driver.rating || 5}}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{ driver.isAvailable ? 'Yes' : 'No' }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">
                                <img [src]="driver.driverImage" width="50px" alt="Driver" class="rounded-full">
                            </td>
                            
                        </tr>   
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-1/2 pl-2">
            <h3 class="text-lg font-bold text-center mb-4">Rider Table</h3>
            <div class="overflow-y-auto max-h-[40vh]  border border-blue-500 scroll-smooth" style="scrollbar-width: thin;">
                <table class="min-w-full divide-y   shadow-md rounded-lg">
                    <thead class="sticky text-green-600">
                        <tr>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Name</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Phone Number</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Total Rides</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Cancel Rides</th>
                            <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Picture</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let customer of allCustomers$"  class=" divide-y ">
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{customer.customerName}}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">{{customer.customerPhoneNumber}}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                            <td class="px-6 py-4 whitespace-nowrap text-center">
                                <img [src]="customer.customerImage" width="40px" height="40px" alt="Driver" class="rounded-full">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div  *ngIf="authService.getUserDetail()?.roles.includes('Admin')" class="w-full px-10 ">
    <h3 class="text-lg font-bold text-center mb-4">Company Table</h3>
    <div class="overflow-y-auto max-h-[40vh]  border border-blue-500 scroll-smooth" style="scrollbar-width: thin;">
        <table class="min-w-full divide-y   shadow-md rounded-lg">
            <thead class="sticky text-green-600">
                <tr>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Name</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Phone Number</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Total Rides</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Cancel Rides</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-center">Picture</th>
                </tr>
            </thead>
            <tbody class=" divide-y ">
                <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr><tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr><tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr><tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr><tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr><tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Alice Johnson</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">555-123-4567</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">50</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">2</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                <tr class="">
                    <td class="px-6 py-4 whitespace-nowrap text-center">Bob Brown</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">444-987-6543</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">30</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">1</td>
                    <td class="px-6 py-4 whitespace-nowrap text-center"><img src="img/images.png" width="50px" alt="Rider" class="rounded-full"></td>
                </tr>
                
                <!-- Additional rows can be added here -->
            </tbody>
        </table>
    </div>
</div>

</section>