<div class="w-full mx-auto py-4 text-center">
    <div class="flex items-center justify-center space-x-2">
        <span *ngFor="let star of stars; let i = index" 
              (click)="rateDriver(i + 1)" 
              class="cursor-pointer text-2xl"
              [ngClass]="{'text-yellow-500': i < selectedRating, 'text-gray-300': i >= selectedRating}">
          ★
        </span>
      </div>
      
      <p class="mt-4 text-xl font-semibold text-gray-700">
        <span class="font-bold text-green-500">rated:</span> {{ selectedRating }} / 5
      </p>
</div>
  