.mat-dialog-container {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .mat-dialog-content {
    text-align: center;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .w-full {
    width: 100%;
  }
  