<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
    <div class="shadow-sm w-1/5 p-10 bg-white rounded-md">
        
            <h1 class="text-xl">
                Reset Password
            </h1>
            <p class="text-xl to-slate-900 font-semibold">
                Email Address
            </p>
            <input type="email" readonly [(ngModel)]="resetPassword.email" name="email" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md" placeholder="Email">
            
            <p class="text-xl to-slate-900 font-semibold">
                New Password
            </p>
            <input type="password" [(ngModel)]="resetPassword.newPassword" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md" placeholder="Email">
            
            <button (click)="resetPasswordHandle()" [disabled]="!resetPassword.newPassword || !resetPassword.email" class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">
                Reset Password
            </button>
       
    </div>
</div>